.createTodo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .createTodo-container button {
    width: 100%;
    height: 4.4rem;
    font-size: 2.5em;
    margin-left: -17px;
    border: none;
    background-color: #7996f5;
    cursor: pointer;
    color: aliceblue;
    z-index: 1;
    /*   background: url("./assets/circle-check.svg") no-repeat;
    background-size: 90%;
    background-position: center center; */
  }
  
  .createTodo-container button:hover {
    background-color: #5f7cd9;
  }